<mat-card class="usercard">
        <div fxLayout="column" fxLayoutAlign="space-around center">
          <mat-form-field appearance="fill" class="name-field">
            <mat-label>Name</mat-label>
            <input matInput [(ngModel)] = "empName" (keyup)="checkDisabled()">
          </mat-form-field>
          <mat-form-field appearance="fill" class="gender-field" >
            <mat-label>Gender</mat-label>
            <mat-select [(ngModel)] = "empGender" (selectionChange)="checkDisabled()"> 
                    <mat-option value="Male">Male</mat-option>
                    <mat-option value="Female">Female</mat-option>
                    <mat-option value="Others">Others</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" class="text-field">
            <mat-label>Skill-Set/Proficiancy</mat-label>
            <textarea matInput [(ngModel)] = "empTech" (keyup)="checkDisabled()"></textarea>
          </mat-form-field>
    
          <button mat-raised-button color="accent" 
          [disabled]="isDisabled"
          (click)="editUser()" 
          data="Edit"
          class="ebt">
          Edit
          </button>
      </div>
</mat-card>